<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bon_apetit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".mycart">
      </activity>

        <activity android:name=".Feed">
          </activity>

        <activity android:name=".FrontEndHome">
   

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>



        </activity>
        <activity android:name=".AddStock"></activity>
        <activity android:name=".stock_table">

        </activity>
        
        <activity android:name=".UserLoginPage"></activity>
        <activity android:name=".ViewRecipe1"></activity>
        <activity android:name=".AddRecipies"></activity>
        <activity android:name=".update_stock"></activity>


        
        <activity android:name=".EditProfile">

        </activity>
        <activity android:name=".MainActivity"></activity>

        <activity android:name=".UpdateRecipe">
        </activity>
        <activity android:name=".ViewRecipe1"></activity>
        <activity android:name=".AddRecipies"></activity>
        <activity android:name=".UserLoginPage" />
        <activity android:name=".update_stock"></activity>
        <activity android:name=".UpdateRecipe"></activity>
        <activity android:name=".ViewRecipeBackend">
        </activity>

        <activity android:name=".AddStock"></activity>
        <activity android:name=".AddStock">

        </activity>
        <activity android:name=".mycart">
        </activity>

        <activity android:name=".Feed">
        </activity>


    </application>

</manifest>